<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quos consequatur itaque necessitatibus molestiae
            possimus consequuntur? Quia impedit, unde facere perferendis hic aut repudiandae doloremque quae nostrum non
            quidem iste?</p>
    </div>


</section>