<div class="jumbotron bg-light">
    <h1 class="display-4"> Easynote </h1>
    <p class="lead"> Enfócate en lo que mas importa </p>
    <hr class="my-4">
    <p class="lead"> Captura ideas e inspiración en notas</p>
    <a href="https://www.w3.org/" class="btn btn-primary"> Conseguir</a>


</div>